/* @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body
{
    font-family: 'Comfortaa', cursive !important; 
} */

/* body
{
    background-color: blueviolet;
}

.bas
{
    font-size: 200px;
} */